<h1> {{ .Header }}</h1>
<h3> {{ .News }}</h3>
<br>
<br>
<table style="width:100%">
  <tr>
    <th>Source</th>
    <th>Title</th>
    <th>Author</th>
    <th>URL</th>
  </tr>
{{range .Articles}}
  <tr>
    <td>{{ .Source }}</td>
    <td>{{ .Title }}</td>
    <td>{{ .Author }}</td>
    <td>{{ .URL }}</td>
  </tr>
{{end}}
</table>

<br>
<br>
<br>
<label>If you would like to use a more real-time feed, you can get a key from https://newsapi.org/
  then enter it below </label>
<label>Enter your API Key</label>
<form>
  Key in API Key:<br>
  <input type="text" name="apikey">
  <br>
  <input type="submit">

</form>
